<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>A Pen by  SitePoint</title>
  
  
  
  
  
</head>

<body>


  <script id="handlebars-demo" type="text/x-handlebars-template">
  <div>
    My name is {{name}}. I am a {{occupation}}. 
  </div>
</script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<!--script src='http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js'></script-->
    <script  src="../scripts/test.js"></script>
  





</body>

</html>